
<style type="text/css">
		.searchBox{
			margin: 6px;
			width: 300px;
			vertical-align: middle;
			padding: 2px;
		        background-image:url('/static/img/icon-https.gif');
        		background-repeat:no-repeat;
		        background-position: right;
		}

		.detLink {
			font-size: 1.2em;
			font-weight: 400;
		}
		.detDesc {
			color: #4e5456;
		}
		.detDesc a:hover {
			color: #000099;
			text-decoration: underline;
		}
		.sortby {
			text-align: left;
			float: left;
		}
		.detName {
			padding-top: 3px;
			padding-bottom: 2px;
		}
		.viewswitch {
			font-style: normal;
			float: right;
			text-align: right;
			font-weight: normal;
		}
	</style>
