Options +FollowSymLinks

RewriteEngine on
RewriteRule ^recent/$ recent.php [L]
RewriteRule ^search/([^/.]+)/?$ search.php?piracy=$1	[L]
RewriteRule ^browse$ browse.php [L]
RewriteRule ^browse/([^/.]+)/?$ browse.php?cat=$1   [L]
RewriteRule ^top/([^/.]+)/?$ toplist.php?no=$1  [L]
RewriteRule ^not_found$ 404.php [L]
RewriteRule ^you_shall_not_pass$ 403.php [L]
RewriteRule ^user/([^/.]+)/?$ user.php?user=$1 [L]
RewriteRule ^delete/([^/.]+)/?$ delete.php?id=$1 [L]
RewriteRule ^go_to_ad/([^/.]+)/?$ ad_out.php?id=$1 [L]
RewriteRule ^torrent/([^/.]+)/?$ torrent.php?id=$1 [L]
RewriteRule ^get_magnet/([^/.]+)/?$ serve_magnet.php?get=$1 [L]
RewriteRule ^admin/([^/.]+)/?$ admin/login.php  [L]

ErrorDocument 404 /freepb/404.php
ErrorDocument 403 /freepb/403.php
